In [1]:
a = 12   # bin(a)
print(a)

12

In [2]:
data = {'Name':'Ajay','Age':23,'Sec':'A'}

print(data)
print(type(data))

{'Name': 'Ajay', 'Age': 23, 'Sec': 'A'}
<class 'dict'>

In [3]:
# empty dict

empty_dict = {}

print(empty_dict,type(empty_dict))

{} <class 'dict'>

In [4]:
data = {'Name':'Ajay','Age':23,'Sec':'A'}


len(data)

3

In [5]:
my_data = {'Names':['Karan','Ajay','Mohit']}

print(len(my_data))

1

In [ ]:
# int
# float
# complex
# str
# tuple
# list
# set
# dict
# bool
# None
# frozenset

In [6]:
# keys: allowed:- int,float,str,tuple,complex,bool,None,frozenset
# keys: not allowed:- list,dict,set


# value:- all data types

In [11]:
d1 = {123:'Komal',
      23.98:'Ajay',
     34-9j:'karan',
      True:'Ajay',
      (1,2,3):'Jatin',
      None: 'Mohit',
      'Name':'Mohan',
      frozenset((1,23,5)):'Akshay'}

In [12]:
print(d1)

{123: 'Komal', 23.98: 'Ajay', (34-9j): 'karan', True: 'Ajay', (1, 2, 3): 'Jatin', None: 'Mohit', 'Name': 'Mohan', frozenset({1, 5, 23}): 'Akshay'}

In [13]:
print(type(d1))

<class 'dict'>

In [14]:
len(d1)

8

In [15]:
# list,dict,set

In [16]:
data = {[12,34,35]:None}

print(data)

TypeError: unhashable type: 'list'

In [17]:
data = {{12,34,35}:None}

print(data)

TypeError: unhashable type: 'set'

In [18]:
data = {{'Name':'Ajay'}:None}

print(data)

TypeError: unhashable type: 'dict'

In [19]:
# All data types allowed at value position

In [20]:
data = {'k1':12,
       'k2':23.5,
       'k3':67-98j,
       'k4':(12,34,35),
       'K5':[1,234,5],
       'k6':{122,343,5},
       'k7':{'Name':'mohan','Age':23},
       'k8':None,
       'k9':True,
       'k10':'Jatin',
       'K11':frozenset((1,23,5))}

In [21]:
print(data)

{'k1': 12, 'k2': 23.5, 'k3': (67-98j), 'k4': (12, 34, 35), 'K5': [1, 234, 5], 'k6': {122, 5, 343}, 'k7': {'Name': 'mohan', 'Age': 23}, 'k8': None, 'k9': True, 'k10': 'Jatin', 'K11': frozenset({1, 5, 23})}

In [22]:
print(type(data))

<class 'dict'>

In [23]:
len(data)

11

In [24]:
# Basic op

a = {'name':'Ajay','class':12}
b = {'sec':'B','Address':'Noida'}


print(a)
print(b)

{'name': 'Ajay', 'class': 12}
{'sec': 'B', 'Address': 'Noida'}

In [30]:
print(a + b)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [31]:
a*2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [33]:
# We can not create duplicate key in dictionary

my_dict = {'Name':'Komal','Age':12,'Class':12,'Name':'Mohan','Sec':'A','Class':10,'class':8}

print(my_dict)

{'Name': 'Mohan', 'Age': 12, 'Class': 10, 'Sec': 'A', 'class': 8}

In [34]:
len(my_dict)

5

In [35]:
# single element/item:- one key-value

In [36]:
# all key value:- items

In [38]:
# some important uses
['M']*5

['M', 'M', 'M', 'M', 'M']

In [52]:
students_data = {'Names':['Mohit','Samsheer','sarwar','karan','Rahul'],
                'Age':[23,25,22,21,20],
                'Class':[12,11,12,10,11],
                'Sec':['A','B','A','C','B'],
                'Address':['Noida','Delhi','Faridabad','Gurgaon','Noida'],
                'Gender':['M']*5}

print(students_data)

{'Names': ['Mohit', 'Samsheer', 'sarwar', 'karan', 'Rahul'], 'Age': [23, 25, 22, 21, 20], 'Class': [12, 11, 12, 10, 11], 'Sec': ['A', 'B', 'A', 'C', 'B'], 'Address': ['Noida', 'Delhi', 'Faridabad', 'Gurgaon', 'Noida'], 'Gender': ['M', 'M', 'M', 'M', 'M']}

In [53]:
import pandas as pd

In [55]:
table = pd.DataFrame(students_data,index = range(1,len(students_data)))
table

      Names  Age  Class Sec    Address Gender
1     Mohit   23     12   A      Noida      M
2  Samsheer   25     11   B      Delhi      M
3    sarwar   22     12   A  Faridabad      M
4     karan   21     10   C    Gurgaon      M
5     Rahul   20     11   B      Noida      M

In [47]:
table.to_excel('students_data.xlsx')
print('done')

done

In [48]:
# employee data

In [56]:
# features of dictionary
# 1>> it does not support indexing
# 2>> it does not support slicing
# 3>> we can'not duplicate keys
# 4>> we can chnage element or value with the help of key

In [57]:
data = {'Name':'Ajay','Age':23,'Sec':'A','Address':'Delhi','contact':9898787654}


data

{'Name': 'Ajay',
 'Age': 23,
 'Sec': 'A',
 'Address': 'Delhi',
 'contact': 9898787654}

In [58]:
data[1]

KeyError: 1

In [59]:
# data['keys name']

In [61]:
data['Name']

'Ajay'

In [62]:
data['name']

KeyError: 'name'

In [63]:
# we can change element or value with the help of key

In [64]:
data

{'Name': 'Ajay',
 'Age': 23,
 'Sec': 'A',
 'Address': 'Delhi',
 'contact': 9898787654}

In [66]:
data['Sec'] = "B"

In [67]:
print(data)

{'Name': 'Ajay', 'Age': 23, 'Sec': 'B', 'Address': 'Delhi', 'contact': 9898787654}

In [69]:
data['Address'] = 'Gr Noida'

In [70]:
print(data)

{'Name': 'Ajay', 'Age': 23, 'Sec': 'B', 'Address': 'Gr Noida', 'contact': 9898787654}

In [71]:
data['Contact'] = 8787676543

In [72]:
print(data)

{'Name': 'Ajay', 'Age': 23, 'Sec': 'B', 'Address': 'Gr Noida', 'contact': 9898787654, 'Contact': 8787676543}

In [75]:
data['Age'] = 700

In [76]:
print(data)

{'Name': 'Ajay', 'Age': 700, 'Sec': 'B', 'Address': 'Gr Noida', 'contact': 9898787654, 'Contact': 8787676543}

In [77]:
students_data = {'Names':['Mohit','Samsheer','sarwar','karan','Rahul'],
                'Age':[23,25,22,21,20],
                'Class':[12,11,12,10,11],
                'Sec':['A','B','A','C','B'],
                'Address':['Noida','Delhi','Faridabad','Gurgaon','Noida'],
                'Gender':['M']*5}


students_data

{'Names': ['Mohit', 'Samsheer', 'sarwar', 'karan', 'Rahul'],
 'Age': [23, 25, 22, 21, 20],
 'Class': [12, 11, 12, 10, 11],
 'Sec': ['A', 'B', 'A', 'C', 'B'],
 'Address': ['Noida', 'Delhi', 'Faridabad', 'Gurgaon', 'Noida'],
 'Gender': ['M', 'M', 'M', 'M', 'M']}

In [80]:
students_data['Names'][-2] = 'Karan Verma'

In [81]:
students_data

{'Names': ['Mohit', 'Samsheer', 'sarwar', 'Karan Verma', 'Rahul'],
 'Age': [23, 25, 22, 21, 20],
 'Class': [12, 11, 12, 10, 11],
 'Sec': ['A', 'B', 'A', 'C', 'B'],
 'Address': ['Noida', 'Delhi', 'Faridabad', 'Gurgaon', 'Noida'],
 'Gender': ['M', 'M', 'M', 'M', 'M']}

In [83]:
students_data['Address'][3] = 'Gurugram'

In [84]:
students_data

{'Names': ['Mohit', 'Samsheer', 'sarwar', 'Karan Verma', 'Rahul'],
 'Age': [23, 25, 22, 21, 20],
 'Class': [12, 11, 12, 10, 11],
 'Sec': ['A', 'B', 'A', 'C', 'B'],
 'Address': ['Noida', 'Delhi', 'Faridabad', 'Gurugram', 'Noida'],
 'Gender': ['M', 'M', 'M', 'M', 'M']}

In [85]:
# Final topic nested dict

In [87]:
complex_dict = {'Banda':{'Noida':[{'Bank1':[{'L1':200,'L2':400}],'Bank2':[],'Bank3':[{'Gold':None,'Silver':None}]}],
                         'Delhi':[]}}

complex_dict

{'Banda': {'Noida': [{'Bank1': [{'L1': 200, 'L2': 400}],
    'Bank2': [],
    'Bank3': [{'Gold': None, 'Silver': None}]}],
  'Delhi': []}}

In [94]:
complex_dict['Banda']['Noida'][0]['Bank1'][0]['L1'] = 0

In [97]:
# complex_dict
complex_dict['Banda']['Noida'][0]['Bank1'][0]['L2'] = 0

In [98]:
complex_dict

{'Banda': {'Noida': [{'Bank1': [{'L1': 0, 'L2': 0}],
    'Bank2': [],
    'Bank3': [{'Gold': None, 'Silver': None}]}],
  'Delhi': []}}

In [103]:
complex_dict['Banda']['Noida'][0]['Bank3'][0]['Gold'] = 200

In [106]:
# complex_dict

complex_dict['Banda']['Noida'][0]['Bank3'][0]['Silver'] = 400

In [107]:
complex_dict

{'Banda': {'Noida': [{'Bank1': [{'L1': 0, 'L2': 0}],
    'Bank2': [],
    'Bank3': [{'Gold': 200, 'Silver': 400}]}],
  'Delhi': []}}

In [108]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [109]:
# 'clear',
#  'copy',
#  'fromkeys',
#  'get',
#  'items',
#  'keys',
#  'pop',
#  'popitem',
#  'setdefault',
#  'update',
#  'values']