In [1]:
# Exception handling:- Errors Handle

In [2]:
a = input('Enter a: ')

b = input('Enter b: ')

print('Ans of a/b is: ',a/b)

Enter a: 34
Enter b: 2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [3]:
a = int(input('Enter a: '))

b = int(input('Enter b: '))

print('Ans of a/b is: ',a/b)

Enter a: 35
Enter b: 5
Ans of a/b is:  7.0

In [4]:
print(2345/0)

ZeroDivisionError: division by zero

In [6]:
a = [12,34,32,4,6]


a[-2] = 40

In [7]:
print(a)

[12, 34, 32, 40, 6]

In [8]:
a[-30]

IndexError: list index out of range

In [11]:
try:
    a = [12,34,234,52,4,34]
    c = a/0
    print(c)
    
except:
    print('Something went wrong!!')
    
print('Hello world')
print('We are in Techvidya')

Something went wrong!!
Hello world
We are in Techvidya

In [12]:
a = [12,34,234,52,4,34]
c = a/0
print(c)

print('Hello world')
print('We are in Techvidya')

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [13]:
try:
    print(karan)
    a = {'name':'Mohan','Age':123}
    
    a['Address'].append('Noida')
    
    
except:
    print('Try block nahi chala!!')

    

for i in range(5):
    print('Hello World!!')

Try block nahi chala!!
Hello World!!
Hello World!!
Hello World!!
Hello World!!
Hello World!!

In [14]:
try:
    print("karan")
    a = {'name':'Mohan','Age':123}
    
    a['Age'] = 45
    
    print(a)
    
    print('Try block chal gaya!!')
    
    
except:
    print('Try block nahi chala!!')

    

for i in range(5):
    print('Hello World!!')

karan
{'name': 'Mohan', 'Age': 45}
Try block chal gaya!!
Hello World!!
Hello World!!
Hello World!!
Hello World!!
Hello World!!

In [15]:
try:
    print("karan")
    a = {'name':'Mohan','Age':123}
    
    a['Agee'].append(45)
    
    print(a)
    
    print('Try block chal gaya!!')
    
    
except:
    print('Try block nahi chala!!')

    

for i in range(5):
    print('Hello World!!')

karan
Try block nahi chala!!
Hello World!!
Hello World!!
Hello World!!
Hello World!!
Hello World!!

In [16]:
print("karan")
a = {'name':'Mohan','Age':123}

a['Agee'].append(45)

print(a)

print('Try block chal gaya!!')

karan

KeyError: 'Agee'

In [17]:
print(1/0)

ZeroDivisionError: division by zero

In [20]:
try:
    print("karan")
    a = {'name':'Mohan','Age':123}
    
    print(1/0)
    
    print(a)
    
    print('Try block chal gaya!!')
    
    
except Exception as sarwar:
    print('Try block nahi chala!!',sarwar)

    

for i in range(5):
    print('Hello World!!')

karan
Try block nahi chala!! division by zero
Hello World!!
Hello World!!
Hello World!!
Hello World!!
Hello World!!

In [21]:
try:
    print(karan)
    a = {'name':'Mohan','Age':123}
    
    print(1/0)
    
    print(a)
    
    print('Try block chal gaya!!')
    
    
except Exception as sarwar:
    print('Try block nahi chala!!',sarwar)

    

for i in range(5):
    print('Hello World!!')

Try block nahi chala!! name 'karan' is not defined
Hello World!!
Hello World!!
Hello World!!
Hello World!!
Hello World!!

In [24]:
# address = 'Noida'
# print(address)

In [26]:
try:
    print('One')
    print('two')
    print([12,3,34,456]/[12,43,456])
    
    
except Exception as err:
    print('Try block nahi chala kyunki',err)
    
else:
    print('ye tabhi chalega jab try block pura sucessfully chalega!!')

One
two
Try block nahi chala kyunki unsupported operand type(s) for /: 'list' and 'list'

In [28]:
try:
    print('One')
    print('two')
    print([12,3,34,456]/[12,43,456])
    print('Try block-----------------')
    
except Exception as err:
    print('Except block------------------------')
    print('Try block nahi chala kyunki',err)
    
else:
    print('Else block-------------------------------')
    print('ye tabhi chalega jab try block pura sucessfully chalega!!')
    
finally:
    print('Finally block-------------------------------')
    print('ye chalana hi chalana hai!!')
    print('not dependent on any block!!')

One
two
Except block------------------------
Try block nahi chala kyunki unsupported operand type(s) for /: 'list' and 'list'
Finally block-------------------------------
ye chalana hi chalana hai!!
not dependent on any block!!

In [29]:
# exception Handling

try:
    pass

except:
    pass

else:
    pass

finally:
    pass

In [30]:
# nested exception Handling

try:
    try:
        pass
    except:
        pass

except:
    try:
        pass
    except:
        pass

else:
    try:
        try:
            pass
        except:
            pass
        else:
            pass
        finally:
            pass
        
    except:
        pass
    

finally:
    try:
        pass
    except:
        pass

In [31]:
# if we know the possible errors

In [41]:
try:
    print('done')
    
    a = [1,2,35,36,47]
    
#     print(a[56])
    
#     c = 1/0
#     print(c)
    
#     d = 23+'56'
    
#     print(d)
    
    a = {'name':'mohan'}
    a.append('karan')
    
    
except NameError:
    print('bhai shayad galat variable name call kar liya hai use correct karo!!')
    
    

except IndexError:
    print('List ya tuple ka sahi index call karo galat likha hai aapne!!')
    
except ZeroDivisionError:
    print('kisi bhi number ko zero se divide nahi kar sakte, use correct karo!!')
    
except TypeError:
    print('You can not perform operation b/w two different data type instances like str and int')
    
    
except Exception as err:
    print(err)

done
'dict' object has no attribute 'append'

In [42]:
# raise error

In [43]:
print(1/0)

ZeroDivisionError: division by zero

In [44]:
age = int(input('Enter your age: '))

if age<18:
    raise Exception('beta abhi bacche ho 18 saal ke baad aana!!')
    
    
else:
    print('Welcome sir!!')

Enter your age: 16

Exception: beta abhi bacche ho 18 saal ke baad aana!!

In [46]:
age = int(input('Enter your age: '))

if age<18:
    raise Exception('beta abhi bacche ho 18 saal ke baad aana!!')
    
    
else:
    print('Welcome sir!!')

Enter your age: 56
Welcome sir!!

In [47]:
class Beta_abhi_bache_ho_Error(Exception):
    pass

In [48]:
age = int(input('Enter your age: '))

if age<18:
    raise Beta_abhi_bache_ho_Error('beta abhi bacche ho 18 saal ke baad aana!!')
    
    
else:
    print('Welcome sir!!')

Enter your age: 2

Beta_abhi_bache_ho_Error: beta abhi bacche ho 18 saal ke baad aana!!

In [50]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not